.form {
    &__buttons {
      margin: 16px 0 0 0;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
    &__textarea {
      width: 100%;
      font-size: 14px;
      min-height: 240px;
      padding: 16px;
      border: 1px solid #121232;
      border-radius: 4px;
    }
  }
  
  